.search__form {
}
.search__header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.search__input {
  display: block;
}

.search__btn {
  height: 100%;
  display: block;
  background-color: url;
}
.search__btn--top {
}
.container {
}
.gallery {
}
.search__footer {
}
.search__btn--down {
}
